body {
	font-size: 13px;
}

nav.navbar {
	padding: 20px;
	box-shadow: 0px 0px 14px black;
}
nav ul li.btn {
	border-radius: 50px;
}
nav ul.navbar-nav li.nav-item button {
	width: 100px;
	border-radius: 30px;
}
nav ul.navbar-nav li.nav-item{
	padding-left: 12px;
	font-weight: bold;
}
nav ul.navbar-nav li.nav-item a:hover{
	border-bottom: 3px solid #0066cc;
	padding-bottom: 3px;
	transition: .5s;
}





.jumbotron {
	background: linear-gradient(to left, #000066 8%, #0066cc 86%);
	color: white;
	text-shadow: 0px 0px 8px black;
	border-radius: 0px;
}
.jumbotron img {
	width: 50%;
	height: 50%;
}
.jumbotron .btn {
	border-radius: 30px;
}
 .jumbotron .card {
 	width: 100%;
	position: absolute;
	min-height: 50px;
	margin-bottom: -65px;
	bottom: 0;
	border-radius: 30px 30px 0px 0px;
	margin-left: -15px; 
	border:  none;
	/* box-shadow: 0px 0px 6px gray; */
}
.jumbotron .card .card-body {
	color: black;
	text-shadow: none;
	padding: 0;
	line-height: 50px;
}





.company .workshop {
	margin-top: -130px;
}
.company .card {
	border-radius: 30px;
	background: yellow;
}
.company .card img {
	width: 90px;
}

.slider-gallery hr {
	width: 30%;
	height: 12px;
	border-radius: 10px;
	background-color: #0066cc;
	box-shadow: 0px 7px 8px #0066cc;
}




.about .card {
	min-height: 350px;
}
.about .card img {
	width: 120px;
}



.products .card {
	min-height: 450px;
}
.products .card .btn {
	font-size: 10px;
	border-radius: 30px;
}






.form-contact {
	padding-top: 30px;
	padding-bottom: 90px;
}
.form-contact hr {
	height: 12px;
	border-radius: 10px;
	background-color: #0066cc;
}
.form-contact img {
	width: 10%;
}
.form-contact input[type:text].form-control {
	border-radius: 30px;
}
.form-contact button {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 40px;
	width: 30%;
}

.footer {
	background-color: #001a33;
	color: white;
	min-height: 300px;
}
.footer img {
	width: 100px;
}
.footer .copyright {
	background-color: #000d1a;
}

#btn-scrolltotop {
	cursor: pointer;
	position:fixed;
	margin-right: 20px;
	bottom:50px;
	right: 0;
	box-shadow: 0px 7px 8px black;
	background-color: #ffff00;
	color: black;
	border-radius:100%;
	height:20%px;
	width:50px;
	display:none;
	text-shadow: 0px 2px 5px gray;
	z-index: 99999;
}






#modal-login .modal-content{
	box-shadow: 5px 7px 14px black;
	border-radius: 30px;
}
#modal-login .modal-body{
	border-radius: 30px;
}
#modal-login img {
	margin-top: -120px;
}
#modal-login a {
	text-decoration: none;
}
#modal-login button {
	width: 100px;
	border-radius: 30px;
}